.container {
    max-width: 1180px;
    padding: 0 18px;
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    align-items: center;
    &--justify-between {
        justify-content: space-between;
    }
    &--column {
        flex-direction: column;
    }
}
.flex-wrap {
    flex-wrap: wrap;
}