.brands {
    margin-top: 40px;
}
.brands__title {
    margin-bottom: 30px;
}
.brand-wrapper {
    width: calc(30%);
    height: 80px;
    display: flex;
    align-items: flex-start;
}
.brand {
    width: 100%;
}