<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Breket</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/swiper-bundle.min.css"/>
    </head>
    <body>
        @@include("../blocks/modules/header/header-main.html")
        @@include("../blocks/modules/menu/main-menu.html")
        @@include("../blocks/modules/search/search.html")
        @@include("../blocks/modules/navbar/navbar.html")
        @@include("../blocks/modules/card/cards.html")
        @@include("../blocks/modules/products/popular.html")
        @@include("../blocks/modules/products/new.html")
        @@include("../blocks/modules/products/preorthodontic.html")
        @@include("../blocks/modules/card/one-card.html")
        @@include("../blocks/modules/products/recommendations.html")
        @@include("../blocks/modules/card/card-button.html")
        @@include("../blocks/modules/card/cards-info.html")
        @@include("../blocks/modules/brands/brands.html")
        @@include("../blocks/modules/card/card-ecatalogue.html")
        @@include("../blocks/modules/useful-links/useful-links.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="js/swiper-bundle.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
