.close {
    height: 18px;
    width: 18px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6569 12.6572L2.34315 1.34352' stroke='%233298D7' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M2.34314 12.6562L13.6568 1.34254' stroke='%233298D7' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
}
.more {
    border: 2px solid #ADD5EF;
    display: flex;
    margin: auto;
    color: $dark-main-color;
    font-family: 'Gotham Pro Bold';
    font-size: 12px;
    padding: 6px 10px;
    padding-right: 8px;
    border-radius: 8px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        right: -12px;
        top: 4px;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.5H8M8 4.5L4.5 1M8 4.5L4.5 8' stroke='%233297D7' stroke-opacity='0.4' stroke-width='1.5'/%3E%3C/svg%3E");
    }
}

.button {
    outline: none;
    background-color: none;
    border: 2px solid $main-color;
    background-color: $main-color;
    color: #fff;
    border-radius: 15px;
    padding: 6px 10px;
    font-family: 'Gotham Pro Bold';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--transparent {
        background-color: transparent;
        color: $main-color;
    }
}