.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact__link {
    color: $dark-main-color;
    font-family: 'Gotham Pro Bold';
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}
.contact__desc {
    color: $black;
    font-size: 12px;
    line-height: 36px;
    margin: 0;
}