.text-field {
    width: 100%;
    border: 1px solid $dark-main-color;
    border-radius: 3px;
    color: $black;
    font: inherit;
    outline: none;
    padding: 8px 18px;
    font-size: 12px;
    line-height: 22px;
}