.title {
    display: flex;
    width: 100%;
    color: $black;
    font-family: 'Gotham Pro Bold';
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
.text {
    font-size: 12px;
    line-height: 18px;
    color: $black;
}