@font-face {
    font-family: "Gotham Pro Regular";
    font-style: normal;
    src: url("../../fonts/GothamPro.woff") format('woff');
  }
  
  @font-face {
    font-family: "Gotham Pro Bold";
    src: url("../../fonts/GothamPro-Bold.woff") format('woff');
  }
  
  @font-face {
    font-family: "Gotham Pro Bold Italic";
    src: url("../../fonts/GothamPro-BoldItalic.woff") format('woff');
  }
  
  @font-face {
    font-family: "Gotham Pro Light";
    src: url("../../fonts/GothamPro-Light.woff") format('woff');
  }